{% extends "FFFastBundle:Cuisinier:menu.html.twig" %}


    {% block body %}
    
    
  <h2>Liste des Commmandes</h2>

  <ul>
    {% for commande in listCommandes %}
      <li>
          N° {{ commande.id}}            {{ commande.date |date('d-m-Y')}} {{ commande.user.username }}  Etat :      
    {% if commande.etat == '0' %}
     Validée
     {% endif %}
      {% if commande.etat == '1' %}
     En cours de Préparation
     {% endif %}
     {% if commande.etat == '2' %}
     Préparé
     {% endif %}
     
  {% if commande.etat == '3' %}
     En cours de Livraison
     {% endif %}
     
  {% if commande.etat == '4' %}
      Livré
     {% endif %}
     
     
         {% if commande.etat == '0' %}
         <a href="{{ path('ff_fast_editcu', {'idCommande': commande.id}) }}">
prendre en charge 
        </a>     {% endif %}
      {% if commande.etat == '1' %}
         <a href="{{ path('ff_fast_editcu', {'idCommande': commande.id}) }}">
voir

        </a>     {% endif %}

      </li>
    {% endfor %}

  </ul>
  
<nav aria-label="Page navigation example">

    <ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li class="page-item" {% if p == page %} class="page-item active" {% endif %}>
      <a class="page-link" href="{{ path('ff_fast_homecu', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
</nav>
</ul>
</nav>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}