{% extends "FFCoreBundle:Core:menu.html.twig" %}

{% block title %}
  Supprimer un produit - {{ parent() }}
{% endblock %}

{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<div id="content" class="col-md-8">

  <h2>Supprimer un produit </h2>

  <p>
    Etes-vous certain de vouloir supprimer le produit "{{ produits.name }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('ff_fast_deletep', {'id': produits.id}) }}" method="post">
    <a href="{{ path('ff_fast_viewp', {'id': produits.id}) }}" class="btn btn-primary ">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Retour
    </a>
    <button  type="submit" value="Supprimer" class="btn btn-danger">       
<i class="fa fa-trash" aria-hidden="true"></i>
Supprimer
</button >    {{ form_rest(form) }}
  </form>
</main>
{% endblock %}