{% extends "FFFastBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ffgammes_body %}

  <h2>Mes Produits</h2>

  <ul>
    {% for produits in listProduits %}
      <li>
        <a href="{{ path('ff_fast_viewp', {'id': produits.id}) }}">
          {{ produits.name }}
        </a>
      </li>
    {% else %}
      <li>Il n'y a pas encore de produits !</li>
    {% endfor %}
  </ul>
<nav aria-label="Page navigation example">

    <ul class="pagination">

{% for p in range(1, nbPages) %}
    <li class="page-item" {% if p == page %} class="page-item active" {% endif %}>
      <a class="page-link" href="{{ path('ff_fast_homep', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
</nav>
</ul>
  <p>
    <a href="{{ path('ff_fast_addp')}}" class="btn btn-success">
Ajouter un produit    </a>
  </p>
  
{% endblock %}