{% extends "FFCoreBundle:Core:menu.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<div id="content" class="col-md-8 my-4">
  {% for key, messages in app.session.flashbag.all() %}
  {% for message in messages %}
    <div class="alert alert-{{key}}">
     <strong>Succès!</strong> {{ message|trans({}, 'FFFastBundle') }}
    </div>
  {% endfor %}
{% endfor %}
  <h2>Liste des Utilisateur</h2>

  <ul>
    {% for user in listUser %}
      <li>
        <a href="{{ path('ff_user_view', {'id': user.id}) }}">
          {{ user.username }}
        </a>
      </li>
    {% endfor %}

  </ul>
  
<nav aria-label="Page navigation example">

    <ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li class="page-item" {% if p == page %} class="page-item active" {% endif %}>
      <a class="page-link" href="{{ path('ff_user_home', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
</nav>
</main>
{% endblock %}