{% extends "FFCoreBundle:Core:menu.html.twig" %}

{% block title %}
  Utilisateur - {{ parent() }}
{% endblock %}

{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<div id="content" class="col-md-5 my-4">

  {% for key, messages in app.session.flashbag.all() %}
  {% for message in messages %}
    <div class="alert alert-{{key}}">
     <strong>Succès!</strong> {{ message|trans({}, 'FFFastBundle') }}
    </div>
  {% endfor %}
{% endfor %}
<div class="card">
  <div class="card-header">Login: {{ user.username}}</div>
  <div class="card-body"> 
  Nom: {{user.nom}}
  <br>
  Prenom: {{user.prenom}}
  <br>
  Email : {{ user.email}}</div> 
  <div class="card-footer">  Roles : {% for role in user.roles %}
       {% if role == 'ROLE_ADMIN' %}
     Administrateur
     {% endif %}
      {% if role == 'ROLE_USER' %}
     Utilisateur
     {% endif %}
            {% if role == 'ROLE_CUISINIER' %}
     Cuisinier
     {% endif %}
     
  {% if role == 'ROLE_LIVREUR' %}
     Livreur 
     {% endif %}
{% endfor %}</div>
</div
<br>
  <p>
    <a href="{{ path('ff_user_home') }}" class="btn btn-primary"">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Retour 
      
    </a>
    <a href="{{ path('ff_user_edit', {'id': user.id}) }}" class="btn btn-warning">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      Modifier
    </a>
    <a href="{{ path('ff_user_delete', {'id': user.id}) }}" class="btn btn-danger">
    <i class="fa fa-trash" aria-hidden="true"></i>
      Supprimer
    </a>
  </p>
</main>
{% endblock %}