{% extends "FFFastBundle::layout.html.twig" %}

{% block title %}
  Lecture d'un ingredient - {{ parent() }}
{% endblock %}

{% block ffgammes_body %}

  <h2>{{ ingredients.name}}</h2>

  <div class="well">
    {{ ingredients.description }}
  </div>
  {% if ingredients.images != null %}
    <img
  {# src="{{ asset(ingredients.images.webPath) }}"#}
  src="{{ ingredients.images.url}}"
  alt="{{ ingredients.images.alt }}"
  height="100"
/>
{% endif %}

  <p>
    <a href="{{ path('ff_fast_homei') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('ff_fast_editi', {'id': ingredients.id}) }}" class="btn btn-warning">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier
    </a>
    <a href="{{ path('ff_fast_deletep', {'id': ingredients.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer
    </a>
  </p>

{% endblock %}