<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Fast Food{% endblock %}</title>
  {%image'@FFFastBundle/Resources/public/img/favicon.png' filter='cssrewrite' %}
    <link rel="icon" type"image/png" href="{{ asset_url }}" />
  {% endimage %}
  
  {%stylesheets'@FFFastBundle/Resources/public/vendor/bootstrap/css/bootstrap.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  {% stylesheets '@FFFastBundle/Resources/public/css/round-about.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}  
  {% stylesheets '@FFFastBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  {%stylesheets'bundles/fffast/css/font-awesome.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  {%javascripts '@FFFastBundle/Resources/public/vendor/jquery/jquery.min.js' %}
    <script src="{{asset_url}}"></script>
  {%endjavascripts%}

  {%javascripts '@FFFastBundle/Resources/public/vendor/bootstrap/js/bootstrap.bundle.min.js' %}
      <script src="{{asset_url}}"></script>
  {% endjavascripts%}
  
  {%javascripts '@FFFastBundle/Resources/public/js/script.js' %}
      <script src="{{asset_url}}"></script>
  {% endjavascripts%}


  </head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
  

</head>

<body>
{% set nb = 0 %}
{% set panier = app.session.get('panier') %}

{% for article in panier %}
    {% set nb = nb + article %}
{% endfor %}


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
    
      <div class="container">

               <a href="#" class="btn btn-sm-secondary btn-lg pull-lef" data-target="#sidebar" data-toggle="collapse"><span class="navbar-toggler-icon"></span></a>
        <a class="navbar-brand" href="{{ path('ff_fast_accueil')}}">Fast Food</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        
          <form action="{{ path('ff_fast_search') }}" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="search"type="text" placeholder="Rechercher">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="{{ path('ff_fast_accueil')}}">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              Shop
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{{ path('ff_fast_show')}}"> 
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Panier <span class="badge badge-light"> {{nb}}</span>
              </a>
            </li>
             {% if is_granted('ROLE_USER') %}
            <li class="nav-item ">
              <a class="nav-link" href="{{ path('ff_fast_list')}}">
              <i class="fa fa-archive" aria-hidden="true"></i>
                Commandes
              </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item ">
              <a class="nav-link" href="{{ path('ff_core_home')}}">
              <i class="fa fa-cogs" aria-hidden="true"></i>
               Admin
              </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_CUISINIER') %}
            <li class="nav-item ">
              <a class="nav-link" href="{{ path('ff_fast_homecu')}}">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              Cuisinier
              </a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_LIVREUR') %}
            <li class="nav-item ">
              <a class="nav-link" href="{{ path('ff_fast_homel')}}">
              <i class="fa fa-truck" aria-hidden="true"></i>
              Livreur
              </a>
            </li>
            {% endif %}
            
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="dropdown order-1">
          <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle"> 
          <i class="fa fa-user-o" aria-hidden="true"></i>
            {{ app.user.nom }}  {{ app.user.prenom }}<span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right mt-1">
            <li class="p-3">
                login: {{ app.user.username }}
                
        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-info btn-sm" >
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        Profile</a>

    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-secondary btn-sm" >
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    Déconnexion</a>

              </li>

            {% else %}

        <li class="dropdown order-1">
          <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">
          <i class="fa fa-user-times" aria-hidden="true"></i>
            Login <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right mt-1">
            <li class="p-3">
            
                  <form class="form" role="form" action="{{ path("fos_user_security_check") }}" method="post">

                      <div class="form-group">
                          <input type="text" id="username" name="_username"  placeholder="login" required="required" autocomplete="username" />
                      </div>
                      <div class="form-group">
                          <input type="password" id="password" name="_password" placeholder="Mot de passe" required="required" autocomplete="current-password" />                   
                      </div>
                      <div>
                          <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                          <label for="remember_me">Se souvenir de moi ?</label>
                      </div>
                      <div class="form-group">
                              <button  type="submit" id="_submit" name="_submit" class="btn btn-secondary btn-sm">       
                              <i class="fa fa-sign-in" aria-hidden="true"></i>
                              Connexion
                              </button >
                      </div>
                      <div class="form-group text-xs-center">
                          <small><a href="{{ path('ff_user_registration') }}">S'enregistrer</a></small>
                          <br>
                          <small><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a></small>

                      </div>
                  </form>
              </li>
         {% endif %}

          </ul>
          

        </div>
      </div>
    </nav>

        <!-- /.container -->  

   

        {% block menu %}
        
        {% endblock %}
   
      
        {% block body %}
        {% endblock %}
        
          {% block javascripts %}    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

  {% endblock %}
      </div>
    </div>

    <hr>


  </div>
    <!-- Footer -->
    <footer class="py-2 bg-dark fixed-bottom">
      <div class="contaner">
        <p class="m-0 text-center text-white">
            2018
        </p>
      </div>
      <!-- /.container -->
    </footer>
    

    </body>

</body>
</html>