     <h3> Formulaire </h3>
		 
	<div class="well">

<form method="post">
    {{ form_start(form) }}
		<div class="form-group">
        {{ form_label(form.name, 'Nom') }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

		 <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
    </div>
		
		 <div class="form-group">
        {{ form_label(form.images, 'Image') }}
        {{ form_errors(form.images) }}
        {{ form_widget(form.images) }}
    </div>
		
		<div class="form-group">
				{{ form_widget(form.save, {'attr': {'class': 'btn btn-sm btn-success'}, 'label': 'Valider'}) }}
		 </div>

    {{ form_end(form) }}
</form>
</div>