
{% extends "FFFastBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ffgammes_body %}

  <h2>Mes Gammes</h2>

  <ul>
    {% for gammes in listGammes %}
      <li>
        <a href="{{ path('ff_fast_view', {'id': gammes.id}) }}">
          {{ gammes.name }}
        </a>
        le {{ gammes.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Il n'y a pas encore de gammes !</li>
    {% endfor %}
  </ul>
  <p>
    <a href="{{ path('ff_fast_add')}}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
Ajouter une gamme    </a>
  </p>
{% endblock %}