{% extends "FFCoreBundle:Core:menu.html.twig" %}

{% block title %}
  Lecture d'une Gamme - {{ parent() }}
{% endblock %}

{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<div id="content" class="col-md-8">
{% for key, messages in app.session.flashbag.all() %}
  {% for message in messages %}
    <div class="alert alert-{{key}}">
     <strong>Succès!</strong> {{ message|trans({}, 'FFFastBundle') }}
    </div>
  {% endfor %}
{% endfor %}
  <h2>{{ gammes.name}}</h2>

  <div class="well">
    {{ gammes.description }}
    

  </div>
    {% if gammes.images != null %}

    <img
  {# src="{{ asset(gammes.images.webPath) }}"#}
  src="{{ gammes.images.url}}"
  alt="{{ gammes.images.alt }}"
  height="100"
/>
{% endif %}

  <p>
    <a href="{{ path('ff_fast_home') }}" class="btn btn-primary ">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
      Retour
    </a>
    <a href="{{ path('ff_fast_edit', {'id': gammes.id}) }}" class="btn btn-warning">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      Modifier
    </a>
    <a href="{{ path('ff_fast_delete', {'id': gammes.id}) }}" class="btn btn-danger">
    <i class="fa fa-trash" aria-hidden="true"></i>
      Supprimer
    </a>
  </p>
</main>
{% endblock %}