{% extends "FFFastBundle:Shop:menu.html.twig" %}

    {% block body %}
<br>
<div class="col-lg-9">
<br>

          <div class="col-lg-9">
            <img class= "img-responsive"   src="{{ produits.images.url}}"alt="{{ produits.images.alt }} "height="200">
            <div class="card-body">
              <h3 class="card-title">{{ produits.name}}</h3>
              <h4>Prix : {{produits.price}} €</h4>
              <p class="card-text">Ingredients : 
                        {% for ingredients in produits.ingredients %}
                           {{ingredients.name}}
                        {% endfor %}
                  <br>
                    <div class="col-2">

              {% if panier[produits.id] is not defined %}
                        <form action="{{ path('ff_fast_addc', { 'idProduits' : produits.id }) }}" method="get">
                            <select name="qte" class="span1">
                                {% for i in 1..10 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>

                            <div>
                            <br>

                                <button class="btn btn-success">Ajouter au panier</button>
                            </div>
                        </form>
                        {% else %}
                            <div>
                                <a href="{{ path('ff_fast_show') }}" class="btn btn-primary">Le produit est déjà dans votre panier</a>
                            </div>
                        {% endif %}

                   </div>
            
                        {{produits.description}}
</p>
                     
                     
                     
                     

            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
<!-- /.container -->

{% endblock %}